<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>ULBuilder</name>
  <description></description>
  <remoteFS>/home/graphbuildertmp/ULAutomation.jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.22">
    <host>ulbuilder.abilixsoft.eu</host>
    <port>22</port>
    <credentialsId>c1e13bc2-0288-4c95-b9a2-6277048303ed</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>